@charset "UTF-8";
@font-face {
    font-family: 'Ido';
    src: url(../desafio10/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    
}



:root {
    --cor01:#000000;
    --cor02: #e53939;
    --cor03: #ffffff;


}
body {
    /* justify-content:center ; */
    background-color: var(--cor01);
}

header {
    color: var(--cor03);
    padding-bottom: 20px;
    text-indent: 10px;
}

header > h2 {
    text-indent: 30px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;
    /* justify-content: center;
    align-items: center; */
}
.quem-sou {
    width: 500px;
    height: 500px;
    background-color:var(--cor03);
    border-radius: 10px;
    box-shadow: #373636 1px 3px 6px 1px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
.perfil {
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 100%;
    align-items: center;
    width: 200px;
    height: 200px;
    padding-top: 5px;
}
article > p {
    text-align: center;
    padding: 10px;
    padding-top: 0;
    margin: auto;
}
.containers{
    width: 550px;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    
    
}
.contato {
    padding: 25px;
    padding-top: 10px;
    background-color: var(--cor03);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    box-shadow: #373636 1px 3px 6px 1px;
}
.contato > h2 {
    padding-bottom: 10px;
}
.redes {
    padding-bottom: 15px;
}
.contato:hover{
    width: 600px;
    transition: 0.5s;

}
.projetos {
    padding: 25px;
    padding-top: 10px;
    background-color:var(--cor03);
    border-radius: 10px;
    box-shadow: #373636 1px 3px 6px 1px;
    width: 500px;
    height: 300px;
}
.projetos > h2 {
    padding-bottom: 10px;
}
.projetos:hover{
    width: 600px;
    transition: 1s;
}
a {
    text-decoration: none;
    color: var(--cor02);
}
a:hover{
    text-decoration: underline;
    color: var(--cor01);
    font-weight: bold;
}
strong{
    color: var(--cor02);
    font-weight: bold;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: var(--cor03);
}
